VATDesktop.Repo/Service References/AdjustmentHistoryWCF/AdjustmentHistoryWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAdjustmentHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vmwcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAdjustmentHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertAdjustmentHistoryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAdjustmentHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vmwcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAdjustmentHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAdjustmentHistoryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostAdjustmentHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdjHistoryID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AdjId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AdjDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AdjAmount" type="xs:decimal" />
        <xs:element minOccurs="0" name="AdjVATRate" type="xs:decimal" />
        <xs:element minOccurs="0" name="AdjVATAmount" type="xs:decimal" />
        <xs:element minOccurs="0" name="AdjSD" type="xs:decimal" />
        <xs:element minOccurs="0" name="AdjSDAmount" type="xs:decimal" />
        <xs:element minOccurs="0" name="AdjOtherAmount" type="xs:decimal" />
        <xs:element minOccurs="0" name="AdjType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AdjDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LastModifiedBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LastModifiedOn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AdjInputAmount" type="xs:decimal" />
        <xs:element minOccurs="0" name="AdjInputPercent" type="xs:decimal" />
        <xs:element minOccurs="0" name="AdjReferance" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Post" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AdjHistoryNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostAdjustmentHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostAdjustmentHistoryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchAdjustmentHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdjHistoryNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AdjReferance" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AdjType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Post" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AdjFromDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AdjToDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BranchId" type="xs:int" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchAdjustmentHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchAdjustmentHistoryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchAdjustmentHistoryForDeposit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdjHistoryNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchAdjustmentHistoryForDepositResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchAdjustmentHistoryForDepositResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="conditionFieldswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="conditionValueswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectAllResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllCashPayable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="conditionFieldswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="conditionValueswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllCashPayableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectAllCashPayableResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>