VATDesktop.Repo/Service References/SetupWCF/SetupWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SetupWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50568/WCF/SetupWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50568/WCF/SetupWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISetupWCF_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ISetupWCF_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ISetupWCF_ResultVATStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:ResultVATStatus" />
  </wsdl:message>
  <wsdl:message name="ISetupWCF_ResultVATStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResultVATStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ISetupWCF_InsertToSetupNew_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertToSetupNew" />
  </wsdl:message>
  <wsdl:message name="ISetupWCF_InsertToSetupNew_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertToSetupNewResponse" />
  </wsdl:message>
  <wsdl:message name="ISetupWCF_ResultIssueBOMNew_InputMessage">
    <wsdl:part name="parameters" element="tns:ResultIssueBOMNew" />
  </wsdl:message>
  <wsdl:message name="ISetupWCF_ResultIssueBOMNew_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResultIssueBOMNewResponse" />
  </wsdl:message>
  <wsdl:message name="ISetupWCF_SearchSetupDataTable_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchSetupDataTable" />
  </wsdl:message>
  <wsdl:message name="ISetupWCF_SearchSetupDataTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchSetupDataTableResponse" />
  </wsdl:message>
  <wsdl:message name="ISetupWCF_SearchSetupNew_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchSetupNew" />
  </wsdl:message>
  <wsdl:message name="ISetupWCF_SearchSetupNew_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchSetupNewResponse" />
  </wsdl:message>
  <wsdl:portType name="ISetupWCF">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ISetupWCF/DoWork" message="tns:ISetupWCF_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISetupWCF/DoWorkResponse" message="tns:ISetupWCF_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResultVATStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ISetupWCF/ResultVATStatus" message="tns:ISetupWCF_ResultVATStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISetupWCF/ResultVATStatusResponse" message="tns:ISetupWCF_ResultVATStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertToSetupNew">
      <wsdl:input wsaw:Action="http://tempuri.org/ISetupWCF/InsertToSetupNew" message="tns:ISetupWCF_InsertToSetupNew_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISetupWCF/InsertToSetupNewResponse" message="tns:ISetupWCF_InsertToSetupNew_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResultIssueBOMNew">
      <wsdl:input wsaw:Action="http://tempuri.org/ISetupWCF/ResultIssueBOMNew" message="tns:ISetupWCF_ResultIssueBOMNew_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISetupWCF/ResultIssueBOMNewResponse" message="tns:ISetupWCF_ResultIssueBOMNew_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchSetupDataTable">
      <wsdl:input wsaw:Action="http://tempuri.org/ISetupWCF/SearchSetupDataTable" message="tns:ISetupWCF_SearchSetupDataTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISetupWCF/SearchSetupDataTableResponse" message="tns:ISetupWCF_SearchSetupDataTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchSetupNew">
      <wsdl:input wsaw:Action="http://tempuri.org/ISetupWCF/SearchSetupNew" message="tns:ISetupWCF_SearchSetupNew_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISetupWCF/SearchSetupNewResponse" message="tns:ISetupWCF_SearchSetupNew_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISetupWCF" type="tns:ISetupWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ISetupWCF/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResultVATStatus">
      <soap:operation soapAction="http://tempuri.org/ISetupWCF/ResultVATStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertToSetupNew">
      <soap:operation soapAction="http://tempuri.org/ISetupWCF/InsertToSetupNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResultIssueBOMNew">
      <soap:operation soapAction="http://tempuri.org/ISetupWCF/ResultIssueBOMNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchSetupDataTable">
      <soap:operation soapAction="http://tempuri.org/ISetupWCF/SearchSetupDataTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchSetupNew">
      <soap:operation soapAction="http://tempuri.org/ISetupWCF/SearchSetupNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SetupWCF">
    <wsdl:port name="BasicHttpBinding_ISetupWCF" binding="tns:BasicHttpBinding_ISetupWCF">
      <soap:address location="http://localhost:50568/WCF/SetupWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>