VATDesktop.Repo/Service References/CompanyprofileWCF/CompanyprofileWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CompanyprofileWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50568/WCF/CompanyprofileWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50568/WCF/CompanyprofileWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICompanyprofileWCF_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ICompanyprofileWCF_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyprofileWCF_SelectAllList_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllList" />
  </wsdl:message>
  <wsdl:message name="ICompanyprofileWCF_SelectAllList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllListResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyprofileWCF_SearchCompanyProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchCompanyProfile" />
  </wsdl:message>
  <wsdl:message name="ICompanyprofileWCF_SearchCompanyProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchCompanyProfileResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyprofileWCF_SelectAll_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAll" />
  </wsdl:message>
  <wsdl:message name="ICompanyprofileWCF_SelectAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyprofileWCF_UpdateCompanyProfileNew_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCompanyProfileNew" />
  </wsdl:message>
  <wsdl:message name="ICompanyprofileWCF_UpdateCompanyProfileNew_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCompanyProfileNewResponse" />
  </wsdl:message>
  <wsdl:portType name="ICompanyprofileWCF">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyprofileWCF/DoWork" message="tns:ICompanyprofileWCF_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyprofileWCF/DoWorkResponse" message="tns:ICompanyprofileWCF_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyprofileWCF/SelectAllList" message="tns:ICompanyprofileWCF_SelectAllList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyprofileWCF/SelectAllListResponse" message="tns:ICompanyprofileWCF_SelectAllList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchCompanyProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyprofileWCF/SearchCompanyProfile" message="tns:ICompanyprofileWCF_SearchCompanyProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyprofileWCF/SearchCompanyProfileResponse" message="tns:ICompanyprofileWCF_SearchCompanyProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyprofileWCF/SelectAll" message="tns:ICompanyprofileWCF_SelectAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyprofileWCF/SelectAllResponse" message="tns:ICompanyprofileWCF_SelectAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCompanyProfileNew">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyprofileWCF/UpdateCompanyProfileNew" message="tns:ICompanyprofileWCF_UpdateCompanyProfileNew_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyprofileWCF/UpdateCompanyProfileNewResponse" message="tns:ICompanyprofileWCF_UpdateCompanyProfileNew_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICompanyprofileWCF" type="tns:ICompanyprofileWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ICompanyprofileWCF/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllList">
      <soap:operation soapAction="http://tempuri.org/ICompanyprofileWCF/SelectAllList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCompanyProfile">
      <soap:operation soapAction="http://tempuri.org/ICompanyprofileWCF/SearchCompanyProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <soap:operation soapAction="http://tempuri.org/ICompanyprofileWCF/SelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCompanyProfileNew">
      <soap:operation soapAction="http://tempuri.org/ICompanyprofileWCF/UpdateCompanyProfileNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CompanyprofileWCF">
    <wsdl:port name="BasicHttpBinding_ICompanyprofileWCF" binding="tns:BasicHttpBinding_ICompanyprofileWCF">
      <soap:address location="http://localhost:50568/WCF/CompanyprofileWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>