VATDesktop.Repo/Service References/UserMenuRollsWCF/UserMenuRollsWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserMenuRollsWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50568/WCF/UserMenuRollsWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50568/WCF/UserMenuRollsWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserMenuRollsWCF_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IUserMenuRollsWCF_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IUserMenuRollsWCF_UserMenuRollsInsert_InputMessage">
    <wsdl:part name="parameters" element="tns:UserMenuRollsInsert" />
  </wsdl:message>
  <wsdl:message name="IUserMenuRollsWCF_UserMenuRollsInsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserMenuRollsInsertResponse" />
  </wsdl:message>
  <wsdl:message name="IUserMenuRollsWCF_UserMenuRollsInsertByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UserMenuRollsInsertByUser" />
  </wsdl:message>
  <wsdl:message name="IUserMenuRollsWCF_UserMenuRollsInsertByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserMenuRollsInsertByUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserMenuRollsWCF_UserMenuRollsSelectAll_InputMessage">
    <wsdl:part name="parameters" element="tns:UserMenuRollsSelectAll" />
  </wsdl:message>
  <wsdl:message name="IUserMenuRollsWCF_UserMenuRollsSelectAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserMenuRollsSelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="IUserMenuRollsWCF_UserMenuRollsUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:UserMenuRollsUpdate" />
  </wsdl:message>
  <wsdl:message name="IUserMenuRollsWCF_UserMenuRollsUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserMenuRollsUpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserMenuRollsWCF">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserMenuRollsWCF/DoWork" message="tns:IUserMenuRollsWCF_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserMenuRollsWCF/DoWorkResponse" message="tns:IUserMenuRollsWCF_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserMenuRollsInsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserMenuRollsWCF/UserMenuRollsInsert" message="tns:IUserMenuRollsWCF_UserMenuRollsInsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserMenuRollsWCF/UserMenuRollsInsertResponse" message="tns:IUserMenuRollsWCF_UserMenuRollsInsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserMenuRollsInsertByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserMenuRollsWCF/UserMenuRollsInsertByUser" message="tns:IUserMenuRollsWCF_UserMenuRollsInsertByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserMenuRollsWCF/UserMenuRollsInsertByUserResponse" message="tns:IUserMenuRollsWCF_UserMenuRollsInsertByUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserMenuRollsSelectAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserMenuRollsWCF/UserMenuRollsSelectAll" message="tns:IUserMenuRollsWCF_UserMenuRollsSelectAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserMenuRollsWCF/UserMenuRollsSelectAllResponse" message="tns:IUserMenuRollsWCF_UserMenuRollsSelectAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserMenuRollsUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserMenuRollsWCF/UserMenuRollsUpdate" message="tns:IUserMenuRollsWCF_UserMenuRollsUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserMenuRollsWCF/UserMenuRollsUpdateResponse" message="tns:IUserMenuRollsWCF_UserMenuRollsUpdate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserMenuRollsWCF" type="tns:IUserMenuRollsWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IUserMenuRollsWCF/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserMenuRollsInsert">
      <soap:operation soapAction="http://tempuri.org/IUserMenuRollsWCF/UserMenuRollsInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserMenuRollsInsertByUser">
      <soap:operation soapAction="http://tempuri.org/IUserMenuRollsWCF/UserMenuRollsInsertByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserMenuRollsSelectAll">
      <soap:operation soapAction="http://tempuri.org/IUserMenuRollsWCF/UserMenuRollsSelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserMenuRollsUpdate">
      <soap:operation soapAction="http://tempuri.org/IUserMenuRollsWCF/UserMenuRollsUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserMenuRollsWCF">
    <wsdl:port name="BasicHttpBinding_IUserMenuRollsWCF" binding="tns:BasicHttpBinding_IUserMenuRollsWCF">
      <soap:address location="http://localhost:50568/WCF/UserMenuRollsWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>