VATDesktop.Repo/Service References/BranchProfileWCF/BranchProfileWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BranchProfileWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50568/WCF/BranchProfileWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50568/WCF/BranchProfileWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBranchProfileWCF_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IBranchProfileWCF_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IBranchProfileWCF_SelectAll_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAll" />
  </wsdl:message>
  <wsdl:message name="IBranchProfileWCF_SelectAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="IBranchProfileWCF_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IBranchProfileWCF_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IBranchProfileWCF_DropDown_InputMessage">
    <wsdl:part name="parameters" element="tns:DropDown" />
  </wsdl:message>
  <wsdl:message name="IBranchProfileWCF_DropDown_OutputMessage">
    <wsdl:part name="parameters" element="tns:DropDownResponse" />
  </wsdl:message>
  <wsdl:message name="IBranchProfileWCF_InsertToBranchProfileNew_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertToBranchProfileNew" />
  </wsdl:message>
  <wsdl:message name="IBranchProfileWCF_InsertToBranchProfileNew_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertToBranchProfileNewResponse" />
  </wsdl:message>
  <wsdl:message name="IBranchProfileWCF_SelectAllList_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllList" />
  </wsdl:message>
  <wsdl:message name="IBranchProfileWCF_SelectAllList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllListResponse" />
  </wsdl:message>
  <wsdl:message name="IBranchProfileWCF_UpdateToBranchProfileNew_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateToBranchProfileNew" />
  </wsdl:message>
  <wsdl:message name="IBranchProfileWCF_UpdateToBranchProfileNew_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateToBranchProfileNewResponse" />
  </wsdl:message>
  <wsdl:portType name="IBranchProfileWCF">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IBranchProfileWCF/DoWork" message="tns:IBranchProfileWCF_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBranchProfileWCF/DoWorkResponse" message="tns:IBranchProfileWCF_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IBranchProfileWCF/SelectAll" message="tns:IBranchProfileWCF_SelectAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBranchProfileWCF/SelectAllResponse" message="tns:IBranchProfileWCF_SelectAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IBranchProfileWCF/Delete" message="tns:IBranchProfileWCF_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBranchProfileWCF/DeleteResponse" message="tns:IBranchProfileWCF_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DropDown">
      <wsdl:input wsaw:Action="http://tempuri.org/IBranchProfileWCF/DropDown" message="tns:IBranchProfileWCF_DropDown_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBranchProfileWCF/DropDownResponse" message="tns:IBranchProfileWCF_DropDown_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertToBranchProfileNew">
      <wsdl:input wsaw:Action="http://tempuri.org/IBranchProfileWCF/InsertToBranchProfileNew" message="tns:IBranchProfileWCF_InsertToBranchProfileNew_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBranchProfileWCF/InsertToBranchProfileNewResponse" message="tns:IBranchProfileWCF_InsertToBranchProfileNew_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllList">
      <wsdl:input wsaw:Action="http://tempuri.org/IBranchProfileWCF/SelectAllList" message="tns:IBranchProfileWCF_SelectAllList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBranchProfileWCF/SelectAllListResponse" message="tns:IBranchProfileWCF_SelectAllList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateToBranchProfileNew">
      <wsdl:input wsaw:Action="http://tempuri.org/IBranchProfileWCF/UpdateToBranchProfileNew" message="tns:IBranchProfileWCF_UpdateToBranchProfileNew_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBranchProfileWCF/UpdateToBranchProfileNewResponse" message="tns:IBranchProfileWCF_UpdateToBranchProfileNew_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBranchProfileWCF" type="tns:IBranchProfileWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IBranchProfileWCF/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <soap:operation soapAction="http://tempuri.org/IBranchProfileWCF/SelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IBranchProfileWCF/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DropDown">
      <soap:operation soapAction="http://tempuri.org/IBranchProfileWCF/DropDown" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertToBranchProfileNew">
      <soap:operation soapAction="http://tempuri.org/IBranchProfileWCF/InsertToBranchProfileNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllList">
      <soap:operation soapAction="http://tempuri.org/IBranchProfileWCF/SelectAllList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateToBranchProfileNew">
      <soap:operation soapAction="http://tempuri.org/IBranchProfileWCF/UpdateToBranchProfileNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BranchProfileWCF">
    <wsdl:port name="BasicHttpBinding_IBranchProfileWCF" binding="tns:BasicHttpBinding_IBranchProfileWCF">
      <soap:address location="http://localhost:50568/WCF/BranchProfileWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>