VATDesktop.Repo/Service References/ReceiveWCF/ReceiveWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50568/WCF/ReceiveWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchByReferenceNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReferenceNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ItemNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchByReferenceNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchByReferenceNoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FormatingNumeric">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:decimal" />
        <xs:element minOccurs="0" name="DecPlace" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FormatingNumericResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FormatingNumericResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExcelData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invoiceListwcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExcelDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetExcelDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUSDCurrency">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subTotal" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUSDCurrencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUSDCurrencyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dtReceiveMwcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtReceiveDwcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchId" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="callBack" nillable="true" type="q1:Action" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportData_Sanofi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dtReceiveMwcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtReceiveDwcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportData_SanofiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportData_SanofiResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportExcelFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paramVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportExcelFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportExcelFileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiplePost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Idswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiplePostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MultiplePostResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Masterwcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Detailswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Trackingswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BranchId" type="xs:int" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReceiveInsertResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceivePost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Masterwcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Detailswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Trackingswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceivePostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReceivePostResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Masterwcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Detailswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Trackingswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReceiveUpdateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnReceiveQty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="receiveReturnId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnReceiveQtyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReturnReceiveQtyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTempReceive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dtTableResultwcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transactionType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CurrentUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchId" type="xs:int" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTempReceiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveTempReceiveResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchReceiveDetailNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReceiveNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="databaseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchReceiveDetailNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchReceiveDetailNewResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchReceiveHeaderDTNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReceiveNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchReceiveHeaderDTNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchReceiveHeaderDTNewResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="conditionFieldswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="conditionValueswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="likeVMwcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Dt" type="xs:boolean" />
        <xs:element minOccurs="0" name="connVMWCF" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectAllResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="conditionFieldswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="conditionValueswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="likeVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectAllListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectReceiveDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReceiveNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="conditionFieldswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="conditionValueswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMWCF" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectReceiveDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectReceiveDetailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>