VATDesktop.Repo/Service References/SettingRoleWCF/SettingRoleWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SettingRoleWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50568/WCF/SettingRoleWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50568/WCF/SettingRoleWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISettingRoleWCF_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ISettingRoleWCF_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ISettingRoleWCF_SettingsUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:SettingsUpdate" />
  </wsdl:message>
  <wsdl:message name="ISettingRoleWCF_SettingsUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:SettingsUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ISettingRoleWCF_SearchSettingsRole_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchSettingsRole" />
  </wsdl:message>
  <wsdl:message name="ISettingRoleWCF_SearchSettingsRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchSettingsRoleResponse" />
  </wsdl:message>
  <wsdl:portType name="ISettingRoleWCF">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ISettingRoleWCF/DoWork" message="tns:ISettingRoleWCF_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISettingRoleWCF/DoWorkResponse" message="tns:ISettingRoleWCF_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SettingsUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/ISettingRoleWCF/SettingsUpdate" message="tns:ISettingRoleWCF_SettingsUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISettingRoleWCF/SettingsUpdateResponse" message="tns:ISettingRoleWCF_SettingsUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchSettingsRole">
      <wsdl:input wsaw:Action="http://tempuri.org/ISettingRoleWCF/SearchSettingsRole" message="tns:ISettingRoleWCF_SearchSettingsRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISettingRoleWCF/SearchSettingsRoleResponse" message="tns:ISettingRoleWCF_SearchSettingsRole_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISettingRoleWCF" type="tns:ISettingRoleWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ISettingRoleWCF/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SettingsUpdate">
      <soap:operation soapAction="http://tempuri.org/ISettingRoleWCF/SettingsUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchSettingsRole">
      <soap:operation soapAction="http://tempuri.org/ISettingRoleWCF/SearchSettingsRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SettingRoleWCF">
    <wsdl:port name="BasicHttpBinding_ISettingRoleWCF" binding="tns:BasicHttpBinding_ISettingRoleWCF">
      <soap:address location="http://localhost:50568/WCF/SettingRoleWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>