VATDesktop.Repo/Service References/TrackingWCF/TrackingWCF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchExistingTrackingItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isReceive" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="receiveNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isSale" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="saleInvoiceNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchExistingTrackingItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchExistingTrackingItemsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Headingswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TrackingDeleteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTrackingItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isIssue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isReceive" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isSale" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="finishItemNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="receiveNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="issueNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="saleInvoiceNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMWCF" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTrackingItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchTrackingItemsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTrackingItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fItemNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vatName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="effectDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMWCF" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTrackingItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindTrackingItemsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchReceiveTrackItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isTransaction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transactionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMWCF" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchReceiveTrackItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchReceiveTrackItemsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTrackingForReturn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transactionType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transactionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMWCF" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTrackingForReturnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchTrackingForReturnResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTrackings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMWCF" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTrackingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchTrackingsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Trackingswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMWCF" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TrackingInsertResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Trackingswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMWCF" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TrackingUpdateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>