VATDesktop.Repo/Service References/VendorWCF/VendorWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VendorWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50568/WCF/VendorWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50568/WCF/VendorWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVendorWCF_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IVendorWCF_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IVendorWCF_GetExcelData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExcelData" />
  </wsdl:message>
  <wsdl:message name="IVendorWCF_GetExcelData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExcelDataResponse" />
  </wsdl:message>
  <wsdl:message name="IVendorWCF_InsertToVendorNewSQL_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertToVendorNewSQL" />
  </wsdl:message>
  <wsdl:message name="IVendorWCF_InsertToVendorNewSQL_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertToVendorNewSQLResponse" />
  </wsdl:message>
  <wsdl:message name="IVendorWCF_UpdateVendorNewSQL_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateVendorNewSQL" />
  </wsdl:message>
  <wsdl:message name="IVendorWCF_UpdateVendorNewSQL_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateVendorNewSQLResponse" />
  </wsdl:message>
  <wsdl:message name="IVendorWCF_DropDownAll_InputMessage">
    <wsdl:part name="parameters" element="tns:DropDownAll" />
  </wsdl:message>
  <wsdl:message name="IVendorWCF_DropDownAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:DropDownAllResponse" />
  </wsdl:message>
  <wsdl:message name="IVendorWCF_DropDown_InputMessage">
    <wsdl:part name="parameters" element="tns:DropDown" />
  </wsdl:message>
  <wsdl:message name="IVendorWCF_DropDown_OutputMessage">
    <wsdl:part name="parameters" element="tns:DropDownResponse" />
  </wsdl:message>
  <wsdl:message name="IVendorWCF_SelectAll_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAll" />
  </wsdl:message>
  <wsdl:message name="IVendorWCF_SelectAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="IVendorWCF_SelectAllList_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllList" />
  </wsdl:message>
  <wsdl:message name="IVendorWCF_SelectAllList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllListResponse" />
  </wsdl:message>
  <wsdl:message name="IVendorWCF_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IVendorWCF_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IVendorWCF">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IVendorWCF/DoWork" message="tns:IVendorWCF_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVendorWCF/DoWorkResponse" message="tns:IVendorWCF_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExcelData">
      <wsdl:input wsaw:Action="http://tempuri.org/IVendorWCF/GetExcelData" message="tns:IVendorWCF_GetExcelData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVendorWCF/GetExcelDataResponse" message="tns:IVendorWCF_GetExcelData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertToVendorNewSQL">
      <wsdl:input wsaw:Action="http://tempuri.org/IVendorWCF/InsertToVendorNewSQL" message="tns:IVendorWCF_InsertToVendorNewSQL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVendorWCF/InsertToVendorNewSQLResponse" message="tns:IVendorWCF_InsertToVendorNewSQL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateVendorNewSQL">
      <wsdl:input wsaw:Action="http://tempuri.org/IVendorWCF/UpdateVendorNewSQL" message="tns:IVendorWCF_UpdateVendorNewSQL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVendorWCF/UpdateVendorNewSQLResponse" message="tns:IVendorWCF_UpdateVendorNewSQL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DropDownAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IVendorWCF/DropDownAll" message="tns:IVendorWCF_DropDownAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVendorWCF/DropDownAllResponse" message="tns:IVendorWCF_DropDownAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DropDown">
      <wsdl:input wsaw:Action="http://tempuri.org/IVendorWCF/DropDown" message="tns:IVendorWCF_DropDown_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVendorWCF/DropDownResponse" message="tns:IVendorWCF_DropDown_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IVendorWCF/SelectAll" message="tns:IVendorWCF_SelectAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVendorWCF/SelectAllResponse" message="tns:IVendorWCF_SelectAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllList">
      <wsdl:input wsaw:Action="http://tempuri.org/IVendorWCF/SelectAllList" message="tns:IVendorWCF_SelectAllList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVendorWCF/SelectAllListResponse" message="tns:IVendorWCF_SelectAllList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IVendorWCF/Delete" message="tns:IVendorWCF_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVendorWCF/DeleteResponse" message="tns:IVendorWCF_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVendorWCF" type="tns:IVendorWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IVendorWCF/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExcelData">
      <soap:operation soapAction="http://tempuri.org/IVendorWCF/GetExcelData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertToVendorNewSQL">
      <soap:operation soapAction="http://tempuri.org/IVendorWCF/InsertToVendorNewSQL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateVendorNewSQL">
      <soap:operation soapAction="http://tempuri.org/IVendorWCF/UpdateVendorNewSQL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DropDownAll">
      <soap:operation soapAction="http://tempuri.org/IVendorWCF/DropDownAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DropDown">
      <soap:operation soapAction="http://tempuri.org/IVendorWCF/DropDown" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <soap:operation soapAction="http://tempuri.org/IVendorWCF/SelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllList">
      <soap:operation soapAction="http://tempuri.org/IVendorWCF/SelectAllList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IVendorWCF/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VendorWCF">
    <wsdl:port name="BasicHttpBinding_IVendorWCF" binding="tns:BasicHttpBinding_IVendorWCF">
      <soap:address location="http://localhost:50568/WCF/VendorWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>