VATDesktop.Repo/Service References/UserBranchDetailWCF/UserBranchDetailWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserBranchDetailWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50568/WCF/UserBranchDetailWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50568/WCF/UserBranchDetailWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserBranchDetailWCF_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IUserBranchDetailWCF_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IUserBranchDetailWCF_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IUserBranchDetailWCF_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IUserBranchDetailWCF_SelectAll_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAll" />
  </wsdl:message>
  <wsdl:message name="IUserBranchDetailWCF_SelectAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="IUserBranchDetailWCF_SelectAllLst_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllLst" />
  </wsdl:message>
  <wsdl:message name="IUserBranchDetailWCF_SelectAllLst_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllLstResponse" />
  </wsdl:message>
  <wsdl:message name="IUserBranchDetailWCF_InsertfromExcel_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertfromExcel" />
  </wsdl:message>
  <wsdl:message name="IUserBranchDetailWCF_InsertfromExcel_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertfromExcelResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserBranchDetailWCF">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserBranchDetailWCF/DoWork" message="tns:IUserBranchDetailWCF_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserBranchDetailWCF/DoWorkResponse" message="tns:IUserBranchDetailWCF_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserBranchDetailWCF/Insert" message="tns:IUserBranchDetailWCF_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserBranchDetailWCF/InsertResponse" message="tns:IUserBranchDetailWCF_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserBranchDetailWCF/SelectAll" message="tns:IUserBranchDetailWCF_SelectAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserBranchDetailWCF/SelectAllResponse" message="tns:IUserBranchDetailWCF_SelectAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllLst">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserBranchDetailWCF/SelectAllLst" message="tns:IUserBranchDetailWCF_SelectAllLst_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserBranchDetailWCF/SelectAllLstResponse" message="tns:IUserBranchDetailWCF_SelectAllLst_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertfromExcel">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserBranchDetailWCF/InsertfromExcel" message="tns:IUserBranchDetailWCF_InsertfromExcel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserBranchDetailWCF/InsertfromExcelResponse" message="tns:IUserBranchDetailWCF_InsertfromExcel_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserBranchDetailWCF" type="tns:IUserBranchDetailWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IUserBranchDetailWCF/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IUserBranchDetailWCF/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <soap:operation soapAction="http://tempuri.org/IUserBranchDetailWCF/SelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllLst">
      <soap:operation soapAction="http://tempuri.org/IUserBranchDetailWCF/SelectAllLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertfromExcel">
      <soap:operation soapAction="http://tempuri.org/IUserBranchDetailWCF/InsertfromExcel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserBranchDetailWCF">
    <wsdl:port name="BasicHttpBinding_IUserBranchDetailWCF" binding="tns:BasicHttpBinding_IUserBranchDetailWCF">
      <soap:address location="http://localhost:50568/WCF/UserBranchDetailWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>