VATDesktop.Repo/Service References/CurrenciesWCF/CurrenciesWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CurrenciesWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50568/WCF/CurrenciesWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50568/WCF/CurrenciesWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICurrenciesWCF_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ICurrenciesWCF_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ICurrenciesWCF_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="ICurrenciesWCF_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ICurrenciesWCF_DropDown_InputMessage">
    <wsdl:part name="parameters" element="tns:DropDown" />
  </wsdl:message>
  <wsdl:message name="ICurrenciesWCF_DropDown_OutputMessage">
    <wsdl:part name="parameters" element="tns:DropDownResponse" />
  </wsdl:message>
  <wsdl:message name="ICurrenciesWCF_InsertToCurrency_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertToCurrency" />
  </wsdl:message>
  <wsdl:message name="ICurrenciesWCF_InsertToCurrency_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertToCurrencyResponse" />
  </wsdl:message>
  <wsdl:message name="ICurrenciesWCF_SearchCurrency_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchCurrency" />
  </wsdl:message>
  <wsdl:message name="ICurrenciesWCF_SearchCurrency_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchCurrencyResponse" />
  </wsdl:message>
  <wsdl:message name="ICurrenciesWCF_SelectAll_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAll" />
  </wsdl:message>
  <wsdl:message name="ICurrenciesWCF_SelectAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="ICurrenciesWCF_SelectAllList_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllList" />
  </wsdl:message>
  <wsdl:message name="ICurrenciesWCF_SelectAllList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllListResponse" />
  </wsdl:message>
  <wsdl:message name="ICurrenciesWCF_UpdateCurrency_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCurrency" />
  </wsdl:message>
  <wsdl:message name="ICurrenciesWCF_UpdateCurrency_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCurrencyResponse" />
  </wsdl:message>
  <wsdl:portType name="ICurrenciesWCF">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrenciesWCF/DoWork" message="tns:ICurrenciesWCF_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrenciesWCF/DoWorkResponse" message="tns:ICurrenciesWCF_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrenciesWCF/Delete" message="tns:ICurrenciesWCF_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrenciesWCF/DeleteResponse" message="tns:ICurrenciesWCF_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DropDown">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrenciesWCF/DropDown" message="tns:ICurrenciesWCF_DropDown_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrenciesWCF/DropDownResponse" message="tns:ICurrenciesWCF_DropDown_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertToCurrency">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrenciesWCF/InsertToCurrency" message="tns:ICurrenciesWCF_InsertToCurrency_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrenciesWCF/InsertToCurrencyResponse" message="tns:ICurrenciesWCF_InsertToCurrency_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchCurrency">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrenciesWCF/SearchCurrency" message="tns:ICurrenciesWCF_SearchCurrency_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrenciesWCF/SearchCurrencyResponse" message="tns:ICurrenciesWCF_SearchCurrency_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrenciesWCF/SelectAll" message="tns:ICurrenciesWCF_SelectAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrenciesWCF/SelectAllResponse" message="tns:ICurrenciesWCF_SelectAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrenciesWCF/SelectAllList" message="tns:ICurrenciesWCF_SelectAllList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrenciesWCF/SelectAllListResponse" message="tns:ICurrenciesWCF_SelectAllList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCurrency">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrenciesWCF/UpdateCurrency" message="tns:ICurrenciesWCF_UpdateCurrency_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrenciesWCF/UpdateCurrencyResponse" message="tns:ICurrenciesWCF_UpdateCurrency_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICurrenciesWCF" type="tns:ICurrenciesWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ICurrenciesWCF/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/ICurrenciesWCF/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DropDown">
      <soap:operation soapAction="http://tempuri.org/ICurrenciesWCF/DropDown" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertToCurrency">
      <soap:operation soapAction="http://tempuri.org/ICurrenciesWCF/InsertToCurrency" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCurrency">
      <soap:operation soapAction="http://tempuri.org/ICurrenciesWCF/SearchCurrency" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <soap:operation soapAction="http://tempuri.org/ICurrenciesWCF/SelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllList">
      <soap:operation soapAction="http://tempuri.org/ICurrenciesWCF/SelectAllList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCurrency">
      <soap:operation soapAction="http://tempuri.org/ICurrenciesWCF/UpdateCurrency" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CurrenciesWCF">
    <wsdl:port name="BasicHttpBinding_ICurrenciesWCF" binding="tns:BasicHttpBinding_ICurrenciesWCF">
      <soap:address location="http://localhost:50568/WCF/CurrenciesWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>