VATDesktop.Repo/Service References/CurrenciesWCF/CurrenciesWCF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vmwcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DropDown">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DropDownResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DropDownResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertToCurrency">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vmwcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertToCurrencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertToCurrencyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCurrency">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCurrencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchCurrencyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="conditionFieldswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="conditionValueswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Dt" type="xs:boolean" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectAllResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="conditionFieldswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="conditionValueswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectAllListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCurrency">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vmwcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCurrencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCurrencyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>