VATDesktop.Repo/Service References/TDSsWCF/TDSsWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TDSsWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50568/WCF/TDSsWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50568/WCF/TDSsWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITDSsWCF_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ITDSsWCF_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ITDSsWCF_CurrentTDSAmount_InputMessage">
    <wsdl:part name="parameters" element="tns:CurrentTDSAmount" />
  </wsdl:message>
  <wsdl:message name="ITDSsWCF_CurrentTDSAmount_OutputMessage">
    <wsdl:part name="parameters" element="tns:CurrentTDSAmountResponse" />
  </wsdl:message>
  <wsdl:message name="ITDSsWCF_TDSAmount_InputMessage">
    <wsdl:part name="parameters" element="tns:TDSAmount" />
  </wsdl:message>
  <wsdl:message name="ITDSsWCF_TDSAmount_OutputMessage">
    <wsdl:part name="parameters" element="tns:TDSAmountResponse" />
  </wsdl:message>
  <wsdl:message name="ITDSsWCF_UpdatePurchaseTDSs_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePurchaseTDSs" />
  </wsdl:message>
  <wsdl:message name="ITDSsWCF_UpdatePurchaseTDSs_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePurchaseTDSsResponse" />
  </wsdl:message>
  <wsdl:message name="ITDSsWCF_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="ITDSsWCF_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ITDSsWCF_InsertToTDSsNew_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertToTDSsNew" />
  </wsdl:message>
  <wsdl:message name="ITDSsWCF_InsertToTDSsNew_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertToTDSsNewResponse" />
  </wsdl:message>
  <wsdl:message name="ITDSsWCF_SelectAll_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAll" />
  </wsdl:message>
  <wsdl:message name="ITDSsWCF_SelectAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="ITDSsWCF_SelectAllList_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllList" />
  </wsdl:message>
  <wsdl:message name="ITDSsWCF_SelectAllList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllListResponse" />
  </wsdl:message>
  <wsdl:message name="ITDSsWCF_UpdateToTDSsNew_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateToTDSsNew" />
  </wsdl:message>
  <wsdl:message name="ITDSsWCF_UpdateToTDSsNew_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateToTDSsNewResponse" />
  </wsdl:message>
  <wsdl:portType name="ITDSsWCF">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ITDSsWCF/DoWork" message="tns:ITDSsWCF_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITDSsWCF/DoWorkResponse" message="tns:ITDSsWCF_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CurrentTDSAmount">
      <wsdl:input wsaw:Action="http://tempuri.org/ITDSsWCF/CurrentTDSAmount" message="tns:ITDSsWCF_CurrentTDSAmount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITDSsWCF/CurrentTDSAmountResponse" message="tns:ITDSsWCF_CurrentTDSAmount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TDSAmount">
      <wsdl:input wsaw:Action="http://tempuri.org/ITDSsWCF/TDSAmount" message="tns:ITDSsWCF_TDSAmount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITDSsWCF/TDSAmountResponse" message="tns:ITDSsWCF_TDSAmount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePurchaseTDSs">
      <wsdl:input wsaw:Action="http://tempuri.org/ITDSsWCF/UpdatePurchaseTDSs" message="tns:ITDSsWCF_UpdatePurchaseTDSs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITDSsWCF/UpdatePurchaseTDSsResponse" message="tns:ITDSsWCF_UpdatePurchaseTDSs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/ITDSsWCF/Delete" message="tns:ITDSsWCF_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITDSsWCF/DeleteResponse" message="tns:ITDSsWCF_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertToTDSsNew">
      <wsdl:input wsaw:Action="http://tempuri.org/ITDSsWCF/InsertToTDSsNew" message="tns:ITDSsWCF_InsertToTDSsNew_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITDSsWCF/InsertToTDSsNewResponse" message="tns:ITDSsWCF_InsertToTDSsNew_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ITDSsWCF/SelectAll" message="tns:ITDSsWCF_SelectAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITDSsWCF/SelectAllResponse" message="tns:ITDSsWCF_SelectAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITDSsWCF/SelectAllList" message="tns:ITDSsWCF_SelectAllList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITDSsWCF/SelectAllListResponse" message="tns:ITDSsWCF_SelectAllList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateToTDSsNew">
      <wsdl:input wsaw:Action="http://tempuri.org/ITDSsWCF/UpdateToTDSsNew" message="tns:ITDSsWCF_UpdateToTDSsNew_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITDSsWCF/UpdateToTDSsNewResponse" message="tns:ITDSsWCF_UpdateToTDSsNew_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITDSsWCF" type="tns:ITDSsWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ITDSsWCF/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CurrentTDSAmount">
      <soap:operation soapAction="http://tempuri.org/ITDSsWCF/CurrentTDSAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TDSAmount">
      <soap:operation soapAction="http://tempuri.org/ITDSsWCF/TDSAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePurchaseTDSs">
      <soap:operation soapAction="http://tempuri.org/ITDSsWCF/UpdatePurchaseTDSs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/ITDSsWCF/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertToTDSsNew">
      <soap:operation soapAction="http://tempuri.org/ITDSsWCF/InsertToTDSsNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <soap:operation soapAction="http://tempuri.org/ITDSsWCF/SelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllList">
      <soap:operation soapAction="http://tempuri.org/ITDSsWCF/SelectAllList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateToTDSsNew">
      <soap:operation soapAction="http://tempuri.org/ITDSsWCF/UpdateToTDSsNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TDSsWCF">
    <wsdl:port name="BasicHttpBinding_ITDSsWCF" binding="tns:BasicHttpBinding_ITDSsWCF">
      <soap:address location="http://localhost:50568/WCF/TDSsWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>