VATDesktop.Repo/Service References/CustomerGroupWCF/CustomerGroupWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerGroupWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50568/WCF/CustomerGroupWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50568/WCF/CustomerGroupWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomerGroupWCF_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ICustomerGroupWCF_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerGroupWCF_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="ICustomerGroupWCF_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerGroupWCF_DropDown_InputMessage">
    <wsdl:part name="parameters" element="tns:DropDown" />
  </wsdl:message>
  <wsdl:message name="ICustomerGroupWCF_DropDown_OutputMessage">
    <wsdl:part name="parameters" element="tns:DropDownResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerGroupWCF_DropDownAll_InputMessage">
    <wsdl:part name="parameters" element="tns:DropDownAll" />
  </wsdl:message>
  <wsdl:message name="ICustomerGroupWCF_DropDownAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:DropDownAllResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerGroupWCF_InsertToCustomerGroupNew_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertToCustomerGroupNew" />
  </wsdl:message>
  <wsdl:message name="ICustomerGroupWCF_InsertToCustomerGroupNew_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertToCustomerGroupNewResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerGroupWCF_SelectAll_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAll" />
  </wsdl:message>
  <wsdl:message name="ICustomerGroupWCF_SelectAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerGroupWCF_SelectAllList_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllList" />
  </wsdl:message>
  <wsdl:message name="ICustomerGroupWCF_SelectAllList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllListResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerGroupWCF_UpdateToCustomerGroupNew_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateToCustomerGroupNew" />
  </wsdl:message>
  <wsdl:message name="ICustomerGroupWCF_UpdateToCustomerGroupNew_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateToCustomerGroupNewResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomerGroupWCF">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerGroupWCF/DoWork" message="tns:ICustomerGroupWCF_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerGroupWCF/DoWorkResponse" message="tns:ICustomerGroupWCF_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerGroupWCF/Delete" message="tns:ICustomerGroupWCF_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerGroupWCF/DeleteResponse" message="tns:ICustomerGroupWCF_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DropDown">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerGroupWCF/DropDown" message="tns:ICustomerGroupWCF_DropDown_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerGroupWCF/DropDownResponse" message="tns:ICustomerGroupWCF_DropDown_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DropDownAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerGroupWCF/DropDownAll" message="tns:ICustomerGroupWCF_DropDownAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerGroupWCF/DropDownAllResponse" message="tns:ICustomerGroupWCF_DropDownAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertToCustomerGroupNew">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerGroupWCF/InsertToCustomerGroupNew" message="tns:ICustomerGroupWCF_InsertToCustomerGroupNew_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerGroupWCF/InsertToCustomerGroupNewResponse" message="tns:ICustomerGroupWCF_InsertToCustomerGroupNew_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerGroupWCF/SelectAll" message="tns:ICustomerGroupWCF_SelectAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerGroupWCF/SelectAllResponse" message="tns:ICustomerGroupWCF_SelectAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerGroupWCF/SelectAllList" message="tns:ICustomerGroupWCF_SelectAllList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerGroupWCF/SelectAllListResponse" message="tns:ICustomerGroupWCF_SelectAllList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateToCustomerGroupNew">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerGroupWCF/UpdateToCustomerGroupNew" message="tns:ICustomerGroupWCF_UpdateToCustomerGroupNew_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerGroupWCF/UpdateToCustomerGroupNewResponse" message="tns:ICustomerGroupWCF_UpdateToCustomerGroupNew_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICustomerGroupWCF" type="tns:ICustomerGroupWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ICustomerGroupWCF/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/ICustomerGroupWCF/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DropDown">
      <soap:operation soapAction="http://tempuri.org/ICustomerGroupWCF/DropDown" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DropDownAll">
      <soap:operation soapAction="http://tempuri.org/ICustomerGroupWCF/DropDownAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertToCustomerGroupNew">
      <soap:operation soapAction="http://tempuri.org/ICustomerGroupWCF/InsertToCustomerGroupNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <soap:operation soapAction="http://tempuri.org/ICustomerGroupWCF/SelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllList">
      <soap:operation soapAction="http://tempuri.org/ICustomerGroupWCF/SelectAllList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateToCustomerGroupNew">
      <soap:operation soapAction="http://tempuri.org/ICustomerGroupWCF/UpdateToCustomerGroupNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerGroupWCF">
    <wsdl:port name="BasicHttpBinding_ICustomerGroupWCF" binding="tns:BasicHttpBinding_ICustomerGroupWCF">
      <soap:address location="http://localhost:50568/WCF/CustomerGroupWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>