VATDesktop.Repo/Service References/UOMWCF/UOMWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UOMWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50568/WCF/UOMWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50568/WCF/UOMWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUOMWCF_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IUOMWCF_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IUOMWCF_SearchUOMCodeOnly_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchUOMCodeOnly" />
  </wsdl:message>
  <wsdl:message name="IUOMWCF_SearchUOMCodeOnly_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchUOMCodeOnlyResponse" />
  </wsdl:message>
  <wsdl:message name="IUOMWCF_SelectAll_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAll" />
  </wsdl:message>
  <wsdl:message name="IUOMWCF_SelectAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="IUOMWCF_SelectAllList_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllList" />
  </wsdl:message>
  <wsdl:message name="IUOMWCF_SelectAllList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllListResponse" />
  </wsdl:message>
  <wsdl:message name="IUOMWCF_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IUOMWCF_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IUOMWCF_InsertToUOMNew_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertToUOMNew" />
  </wsdl:message>
  <wsdl:message name="IUOMWCF_InsertToUOMNew_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertToUOMNewResponse" />
  </wsdl:message>
  <wsdl:message name="IUOMWCF_UpdateUOM_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUOM" />
  </wsdl:message>
  <wsdl:message name="IUOMWCF_UpdateUOM_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUOMResponse" />
  </wsdl:message>
  <wsdl:portType name="IUOMWCF">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IUOMWCF/DoWork" message="tns:IUOMWCF_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUOMWCF/DoWorkResponse" message="tns:IUOMWCF_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchUOMCodeOnly">
      <wsdl:input wsaw:Action="http://tempuri.org/IUOMWCF/SearchUOMCodeOnly" message="tns:IUOMWCF_SearchUOMCodeOnly_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUOMWCF/SearchUOMCodeOnlyResponse" message="tns:IUOMWCF_SearchUOMCodeOnly_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IUOMWCF/SelectAll" message="tns:IUOMWCF_SelectAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUOMWCF/SelectAllResponse" message="tns:IUOMWCF_SelectAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllList">
      <wsdl:input wsaw:Action="http://tempuri.org/IUOMWCF/SelectAllList" message="tns:IUOMWCF_SelectAllList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUOMWCF/SelectAllListResponse" message="tns:IUOMWCF_SelectAllList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IUOMWCF/Delete" message="tns:IUOMWCF_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUOMWCF/DeleteResponse" message="tns:IUOMWCF_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertToUOMNew">
      <wsdl:input wsaw:Action="http://tempuri.org/IUOMWCF/InsertToUOMNew" message="tns:IUOMWCF_InsertToUOMNew_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUOMWCF/InsertToUOMNewResponse" message="tns:IUOMWCF_InsertToUOMNew_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUOM">
      <wsdl:input wsaw:Action="http://tempuri.org/IUOMWCF/UpdateUOM" message="tns:IUOMWCF_UpdateUOM_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUOMWCF/UpdateUOMResponse" message="tns:IUOMWCF_UpdateUOM_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUOMWCF" type="tns:IUOMWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IUOMWCF/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchUOMCodeOnly">
      <soap:operation soapAction="http://tempuri.org/IUOMWCF/SearchUOMCodeOnly" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <soap:operation soapAction="http://tempuri.org/IUOMWCF/SelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllList">
      <soap:operation soapAction="http://tempuri.org/IUOMWCF/SelectAllList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IUOMWCF/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertToUOMNew">
      <soap:operation soapAction="http://tempuri.org/IUOMWCF/InsertToUOMNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUOM">
      <soap:operation soapAction="http://tempuri.org/IUOMWCF/UpdateUOM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UOMWCF">
    <wsdl:port name="BasicHttpBinding_IUOMWCF" binding="tns:BasicHttpBinding_IUOMWCF">
      <soap:address location="http://localhost:50568/WCF/UOMWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>