VATDesktop.Repo/Service References/PrefixWCF/PrefixWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PrefixWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50568/WCF/PrefixWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50568/WCF/PrefixWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPrefixWCF_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IPrefixWCF_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IPrefixWCF_DropDownAll_InputMessage">
    <wsdl:part name="parameters" element="tns:DropDownAll" />
  </wsdl:message>
  <wsdl:message name="IPrefixWCF_DropDownAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:DropDownAllResponse" />
  </wsdl:message>
  <wsdl:message name="IPrefixWCF_PrefixDataUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:PrefixDataUpdate" />
  </wsdl:message>
  <wsdl:message name="IPrefixWCF_PrefixDataUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrefixDataUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IPrefixWCF_SelectAll_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAll" />
  </wsdl:message>
  <wsdl:message name="IPrefixWCF_SelectAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="IPrefixWCF_SelectAllList_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllList" />
  </wsdl:message>
  <wsdl:message name="IPrefixWCF_SelectAllList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllListResponse" />
  </wsdl:message>
  <wsdl:portType name="IPrefixWCF">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrefixWCF/DoWork" message="tns:IPrefixWCF_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrefixWCF/DoWorkResponse" message="tns:IPrefixWCF_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DropDownAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrefixWCF/DropDownAll" message="tns:IPrefixWCF_DropDownAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrefixWCF/DropDownAllResponse" message="tns:IPrefixWCF_DropDownAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrefixDataUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrefixWCF/PrefixDataUpdate" message="tns:IPrefixWCF_PrefixDataUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrefixWCF/PrefixDataUpdateResponse" message="tns:IPrefixWCF_PrefixDataUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrefixWCF/SelectAll" message="tns:IPrefixWCF_SelectAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrefixWCF/SelectAllResponse" message="tns:IPrefixWCF_SelectAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrefixWCF/SelectAllList" message="tns:IPrefixWCF_SelectAllList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrefixWCF/SelectAllListResponse" message="tns:IPrefixWCF_SelectAllList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPrefixWCF" type="tns:IPrefixWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IPrefixWCF/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DropDownAll">
      <soap:operation soapAction="http://tempuri.org/IPrefixWCF/DropDownAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrefixDataUpdate">
      <soap:operation soapAction="http://tempuri.org/IPrefixWCF/PrefixDataUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <soap:operation soapAction="http://tempuri.org/IPrefixWCF/SelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllList">
      <soap:operation soapAction="http://tempuri.org/IPrefixWCF/SelectAllList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PrefixWCF">
    <wsdl:port name="BasicHttpBinding_IPrefixWCF" binding="tns:BasicHttpBinding_IPrefixWCF">
      <soap:address location="http://localhost:50568/WCF/PrefixWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>