VATDesktop.Repo/Service References/PurchaseWCF/PurchaseWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPurchaseDutyDTNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PurchaseInvoiceNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPurchaseDutyDTNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchPurchaseDutyDTNewResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPurchaseInvoiceTracking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="purchaseInvoiceNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPurchaseInvoiceTrackingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchPurchaseInvoiceTrackingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="conditionFields" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="conditionValues" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="likeVM" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Dt" type="xs:boolean" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="VDSSearch" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectAllResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPurchaseDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PurchaseInvoiceNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="conditionFields" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="conditionValues" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Dt" type="xs:boolean" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPurchaseDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectPurchaseDetailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPurchaseDetailList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PurchaseInvoiceNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="conditionFieldswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="conditionValueswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPurchaseDetailListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectPurchaseDetailListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchaseInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Masterwcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Detailswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Dutieswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Trackingswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchId" type="xs:int" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchaseInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PurchaseInsertResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchaseUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Masterwcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Detailswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Dutieswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Trackingswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchaseUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PurchaseUpdateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchasePost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Masterwcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Detailswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Dutieswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Trackingswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchasePostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PurchasePostResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnQty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="purchaseReturnId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnQtyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReturnQtyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTDSAmount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PurchaseInvoiceNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TDSAmount" type="xs:decimal" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTDSAmountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTDSAmountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dtPurchaseM" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtPurchaseD" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtPurchaseI" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtPurchaseT" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchId" type="xs:int" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DropDown">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DropDownResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DropDownResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindItemIdFromPurchase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PurchaseInvoiceNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ItemNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindItemIdFromPurchaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindItemIdFromPurchaseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FormatingNumeric">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:decimal" />
        <xs:element minOccurs="0" name="DecPlace" type="xs:int" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FormatingNumericResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FormatingNumericResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExcelData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invoiceListwcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExcelDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetExcelDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnProcessedCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnProcessedCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUnProcessedCountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportBigData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PurchaseDatawcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportBigDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportBigDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportExcelFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paramVMwcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportExcelFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportExcelFileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiplePost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Idswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiplePostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MultiplePostResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchaseSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="conditionFieldswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="conditionValueswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="likeVMwcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Dt" type="xs:boolean" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchaseSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PurchaseSearchResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchaseUpdateDuty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DtDutywcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchaseUpdateDutyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PurchaseUpdateDutyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RateChangePercent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ItemNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="unitPrice" type="xs:decimal" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RateChangePercentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RateChangePercentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RateCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VMswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RateCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RateCheckResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTempPurchase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BranchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transactionType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CurrentUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchId" type="xs:int" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTempPurchaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveTempPurchaseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchProductbyPurchaseInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="purchaseInvoiceNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchProductbyPurchaseInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchProductbyPurchaseInvoiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPurchaseDutyDTDownload">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PurchaseInvoiceNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="InvoiceDateFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="InvoiceDateTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPurchaseDutyDTDownloadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchPurchaseDutyDTDownloadResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPurchaseHeaderDTNew2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PurchaseInvoiceNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WithVDS" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="VendorName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="VendorGroupID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="VendorGroupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="InvoiceDateFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="InvoiceDateTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SerialNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="T1Type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="T2Type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BENumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Post" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPurchaseHeaderDTNew2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchPurchaseHeaderDTNew2Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="conditionFieldswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="conditionValueswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="likeVMwcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectAllListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>