VATDesktop.Repo/Service References/PackagingWCF/PackagingWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PackagingWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50568/WCF/PackagingWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50568/WCF/PackagingWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPackagingWCF_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IPackagingWCF_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IPackagingWCF_DeletePackageInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePackageInformation" />
  </wsdl:message>
  <wsdl:message name="IPackagingWCF_DeletePackageInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePackageInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IPackagingWCF_InsertToPackage_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertToPackage" />
  </wsdl:message>
  <wsdl:message name="IPackagingWCF_InsertToPackage_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertToPackageResponse" />
  </wsdl:message>
  <wsdl:message name="IPackagingWCF_SearchPackage_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchPackage" />
  </wsdl:message>
  <wsdl:message name="IPackagingWCF_SearchPackage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchPackageResponse" />
  </wsdl:message>
  <wsdl:message name="IPackagingWCF_UpdatePackage_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePackage" />
  </wsdl:message>
  <wsdl:message name="IPackagingWCF_UpdatePackage_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePackageResponse" />
  </wsdl:message>
  <wsdl:portType name="IPackagingWCF">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IPackagingWCF/DoWork" message="tns:IPackagingWCF_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPackagingWCF/DoWorkResponse" message="tns:IPackagingWCF_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePackageInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IPackagingWCF/DeletePackageInformation" message="tns:IPackagingWCF_DeletePackageInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPackagingWCF/DeletePackageInformationResponse" message="tns:IPackagingWCF_DeletePackageInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertToPackage">
      <wsdl:input wsaw:Action="http://tempuri.org/IPackagingWCF/InsertToPackage" message="tns:IPackagingWCF_InsertToPackage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPackagingWCF/InsertToPackageResponse" message="tns:IPackagingWCF_InsertToPackage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchPackage">
      <wsdl:input wsaw:Action="http://tempuri.org/IPackagingWCF/SearchPackage" message="tns:IPackagingWCF_SearchPackage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPackagingWCF/SearchPackageResponse" message="tns:IPackagingWCF_SearchPackage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePackage">
      <wsdl:input wsaw:Action="http://tempuri.org/IPackagingWCF/UpdatePackage" message="tns:IPackagingWCF_UpdatePackage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPackagingWCF/UpdatePackageResponse" message="tns:IPackagingWCF_UpdatePackage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPackagingWCF" type="tns:IPackagingWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IPackagingWCF/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePackageInformation">
      <soap:operation soapAction="http://tempuri.org/IPackagingWCF/DeletePackageInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertToPackage">
      <soap:operation soapAction="http://tempuri.org/IPackagingWCF/InsertToPackage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPackage">
      <soap:operation soapAction="http://tempuri.org/IPackagingWCF/SearchPackage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePackage">
      <soap:operation soapAction="http://tempuri.org/IPackagingWCF/UpdatePackage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PackagingWCF">
    <wsdl:port name="BasicHttpBinding_IPackagingWCF" binding="tns:BasicHttpBinding_IPackagingWCF">
      <soap:address location="http://localhost:50568/WCF/PackagingWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>