VATDesktop.Repo/Service References/BanderolsWCF/BanderolsWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BanderolsWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50568/WCF/BanderolsWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50568/WCF/BanderolsWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBanderolsWCF_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IBanderolsWCF_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IBanderolsWCF_InsertToBanderol_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertToBanderol" />
  </wsdl:message>
  <wsdl:message name="IBanderolsWCF_InsertToBanderol_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertToBanderolResponse" />
  </wsdl:message>
  <wsdl:message name="IBanderolsWCF_UpdateBanderol_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBanderol" />
  </wsdl:message>
  <wsdl:message name="IBanderolsWCF_UpdateBanderol_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBanderolResponse" />
  </wsdl:message>
  <wsdl:message name="IBanderolsWCF_DeleteBanderolInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBanderolInformation" />
  </wsdl:message>
  <wsdl:message name="IBanderolsWCF_DeleteBanderolInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBanderolInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IBanderolsWCF_SearchBanderols_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchBanderols" />
  </wsdl:message>
  <wsdl:message name="IBanderolsWCF_SearchBanderols_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchBanderolsResponse" />
  </wsdl:message>
  <wsdl:portType name="IBanderolsWCF">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IBanderolsWCF/DoWork" message="tns:IBanderolsWCF_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBanderolsWCF/DoWorkResponse" message="tns:IBanderolsWCF_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertToBanderol">
      <wsdl:input wsaw:Action="http://tempuri.org/IBanderolsWCF/InsertToBanderol" message="tns:IBanderolsWCF_InsertToBanderol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBanderolsWCF/InsertToBanderolResponse" message="tns:IBanderolsWCF_InsertToBanderol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBanderol">
      <wsdl:input wsaw:Action="http://tempuri.org/IBanderolsWCF/UpdateBanderol" message="tns:IBanderolsWCF_UpdateBanderol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBanderolsWCF/UpdateBanderolResponse" message="tns:IBanderolsWCF_UpdateBanderol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBanderolInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IBanderolsWCF/DeleteBanderolInformation" message="tns:IBanderolsWCF_DeleteBanderolInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBanderolsWCF/DeleteBanderolInformationResponse" message="tns:IBanderolsWCF_DeleteBanderolInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchBanderols">
      <wsdl:input wsaw:Action="http://tempuri.org/IBanderolsWCF/SearchBanderols" message="tns:IBanderolsWCF_SearchBanderols_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBanderolsWCF/SearchBanderolsResponse" message="tns:IBanderolsWCF_SearchBanderols_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBanderolsWCF" type="tns:IBanderolsWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IBanderolsWCF/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertToBanderol">
      <soap:operation soapAction="http://tempuri.org/IBanderolsWCF/InsertToBanderol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBanderol">
      <soap:operation soapAction="http://tempuri.org/IBanderolsWCF/UpdateBanderol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBanderolInformation">
      <soap:operation soapAction="http://tempuri.org/IBanderolsWCF/DeleteBanderolInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchBanderols">
      <soap:operation soapAction="http://tempuri.org/IBanderolsWCF/SearchBanderols" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BanderolsWCF">
    <wsdl:port name="BasicHttpBinding_IBanderolsWCF" binding="tns:BasicHttpBinding_IBanderolsWCF">
      <soap:address location="http://localhost:50568/WCF/BanderolsWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>