VATClient/Service References/CommonWCF/CommonWCF2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VATViewModel.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VATViewModel.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SysDBInfoVMTemp">
    <xs:sequence>
      <xs:element minOccurs="0" name="SysDatabaseName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SysPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SysUserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SysdataSource" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SysDBInfoVMTemp" nillable="true" type="tns:SysDBInfoVMTemp" />
</xs:schema>