VATDesktop.Repo/Service References/CurrencyConversionWCF/CurrencyConversionWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CurrencyConversionWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50568/WCF/CurrencyConversionWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50568/WCF/CurrencyConversionWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICurrencyConversionWCF_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ICurrencyConversionWCF_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ICurrencyConversionWCF_SelectAll_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAll" />
  </wsdl:message>
  <wsdl:message name="ICurrencyConversionWCF_SelectAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="ICurrencyConversionWCF_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="ICurrencyConversionWCF_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ICurrencyConversionWCF_InsertToCurrencyConversion_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertToCurrencyConversion" />
  </wsdl:message>
  <wsdl:message name="ICurrencyConversionWCF_InsertToCurrencyConversion_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertToCurrencyConversionResponse" />
  </wsdl:message>
  <wsdl:message name="ICurrencyConversionWCF_SearchCurrencyConversionNew_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchCurrencyConversionNew" />
  </wsdl:message>
  <wsdl:message name="ICurrencyConversionWCF_SearchCurrencyConversionNew_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchCurrencyConversionNewResponse" />
  </wsdl:message>
  <wsdl:message name="ICurrencyConversionWCF_SelectAllList_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllList" />
  </wsdl:message>
  <wsdl:message name="ICurrencyConversionWCF_SelectAllList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllListResponse" />
  </wsdl:message>
  <wsdl:message name="ICurrencyConversionWCF_UpdateCurrencyConversion_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCurrencyConversion" />
  </wsdl:message>
  <wsdl:message name="ICurrencyConversionWCF_UpdateCurrencyConversion_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCurrencyConversionResponse" />
  </wsdl:message>
  <wsdl:portType name="ICurrencyConversionWCF">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyConversionWCF/DoWork" message="tns:ICurrencyConversionWCF_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyConversionWCF/DoWorkResponse" message="tns:ICurrencyConversionWCF_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyConversionWCF/SelectAll" message="tns:ICurrencyConversionWCF_SelectAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyConversionWCF/SelectAllResponse" message="tns:ICurrencyConversionWCF_SelectAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyConversionWCF/Delete" message="tns:ICurrencyConversionWCF_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyConversionWCF/DeleteResponse" message="tns:ICurrencyConversionWCF_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertToCurrencyConversion">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyConversionWCF/InsertToCurrencyConversion" message="tns:ICurrencyConversionWCF_InsertToCurrencyConversion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyConversionWCF/InsertToCurrencyConversionResponse" message="tns:ICurrencyConversionWCF_InsertToCurrencyConversion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchCurrencyConversionNew">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyConversionWCF/SearchCurrencyConversionNew" message="tns:ICurrencyConversionWCF_SearchCurrencyConversionNew_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyConversionWCF/SearchCurrencyConversionNewResponse" message="tns:ICurrencyConversionWCF_SearchCurrencyConversionNew_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyConversionWCF/SelectAllList" message="tns:ICurrencyConversionWCF_SelectAllList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyConversionWCF/SelectAllListResponse" message="tns:ICurrencyConversionWCF_SelectAllList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCurrencyConversion">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyConversionWCF/UpdateCurrencyConversion" message="tns:ICurrencyConversionWCF_UpdateCurrencyConversion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyConversionWCF/UpdateCurrencyConversionResponse" message="tns:ICurrencyConversionWCF_UpdateCurrencyConversion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICurrencyConversionWCF" type="tns:ICurrencyConversionWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ICurrencyConversionWCF/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <soap:operation soapAction="http://tempuri.org/ICurrencyConversionWCF/SelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/ICurrencyConversionWCF/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertToCurrencyConversion">
      <soap:operation soapAction="http://tempuri.org/ICurrencyConversionWCF/InsertToCurrencyConversion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCurrencyConversionNew">
      <soap:operation soapAction="http://tempuri.org/ICurrencyConversionWCF/SearchCurrencyConversionNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllList">
      <soap:operation soapAction="http://tempuri.org/ICurrencyConversionWCF/SelectAllList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCurrencyConversion">
      <soap:operation soapAction="http://tempuri.org/ICurrencyConversionWCF/UpdateCurrencyConversion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CurrencyConversionWCF">
    <wsdl:port name="BasicHttpBinding_ICurrencyConversionWCF" binding="tns:BasicHttpBinding_ICurrencyConversionWCF">
      <soap:address location="http://localhost:50568/WCF/CurrencyConversionWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>