VATDesktop.Repo/Service References/DisposeWCF/DisposeWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DisposeWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50568/WCF/DisposeWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50568/WCF/DisposeWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDisposeWCF_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IDisposeWCF_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IDisposeWCF_DisposeInsert_InputMessage">
    <wsdl:part name="parameters" element="tns:DisposeInsert" />
  </wsdl:message>
  <wsdl:message name="IDisposeWCF_DisposeInsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisposeInsertResponse" />
  </wsdl:message>
  <wsdl:message name="IDisposeWCF_DisposePost_InputMessage">
    <wsdl:part name="parameters" element="tns:DisposePost" />
  </wsdl:message>
  <wsdl:message name="IDisposeWCF_DisposePost_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisposePostResponse" />
  </wsdl:message>
  <wsdl:message name="IDisposeWCF_DisposeUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:DisposeUpdate" />
  </wsdl:message>
  <wsdl:message name="IDisposeWCF_DisposeUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisposeUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IDisposeWCF_SearchDisposeDetailDTNew_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchDisposeDetailDTNew" />
  </wsdl:message>
  <wsdl:message name="IDisposeWCF_SearchDisposeDetailDTNew_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchDisposeDetailDTNewResponse" />
  </wsdl:message>
  <wsdl:message name="IDisposeWCF_SearchDisposeHeaderDTNew_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchDisposeHeaderDTNew" />
  </wsdl:message>
  <wsdl:message name="IDisposeWCF_SearchDisposeHeaderDTNew_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchDisposeHeaderDTNewResponse" />
  </wsdl:message>
  <wsdl:portType name="IDisposeWCF">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IDisposeWCF/DoWork" message="tns:IDisposeWCF_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDisposeWCF/DoWorkResponse" message="tns:IDisposeWCF_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisposeInsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IDisposeWCF/DisposeInsert" message="tns:IDisposeWCF_DisposeInsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDisposeWCF/DisposeInsertResponse" message="tns:IDisposeWCF_DisposeInsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisposePost">
      <wsdl:input wsaw:Action="http://tempuri.org/IDisposeWCF/DisposePost" message="tns:IDisposeWCF_DisposePost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDisposeWCF/DisposePostResponse" message="tns:IDisposeWCF_DisposePost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisposeUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IDisposeWCF/DisposeUpdate" message="tns:IDisposeWCF_DisposeUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDisposeWCF/DisposeUpdateResponse" message="tns:IDisposeWCF_DisposeUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchDisposeDetailDTNew">
      <wsdl:input wsaw:Action="http://tempuri.org/IDisposeWCF/SearchDisposeDetailDTNew" message="tns:IDisposeWCF_SearchDisposeDetailDTNew_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDisposeWCF/SearchDisposeDetailDTNewResponse" message="tns:IDisposeWCF_SearchDisposeDetailDTNew_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchDisposeHeaderDTNew">
      <wsdl:input wsaw:Action="http://tempuri.org/IDisposeWCF/SearchDisposeHeaderDTNew" message="tns:IDisposeWCF_SearchDisposeHeaderDTNew_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDisposeWCF/SearchDisposeHeaderDTNewResponse" message="tns:IDisposeWCF_SearchDisposeHeaderDTNew_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDisposeWCF" type="tns:IDisposeWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IDisposeWCF/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisposeInsert">
      <soap:operation soapAction="http://tempuri.org/IDisposeWCF/DisposeInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisposePost">
      <soap:operation soapAction="http://tempuri.org/IDisposeWCF/DisposePost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisposeUpdate">
      <soap:operation soapAction="http://tempuri.org/IDisposeWCF/DisposeUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchDisposeDetailDTNew">
      <soap:operation soapAction="http://tempuri.org/IDisposeWCF/SearchDisposeDetailDTNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchDisposeHeaderDTNew">
      <soap:operation soapAction="http://tempuri.org/IDisposeWCF/SearchDisposeHeaderDTNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DisposeWCF">
    <wsdl:port name="BasicHttpBinding_IDisposeWCF" binding="tns:BasicHttpBinding_IDisposeWCF">
      <soap:address location="http://localhost:50568/WCF/DisposeWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>