VATDesktop.Repo/Service References/TransferReceiveWCF/TransferReceiveWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TransferReceiveWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50568/WCF/TransferReceiveWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50568/WCF/TransferReceiveWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITransferReceiveWCF_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ITransferReceiveWCF_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferReceiveWCF_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="ITransferReceiveWCF_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferReceiveWCF_FormLoad_InputMessage">
    <wsdl:part name="parameters" element="tns:FormLoad" />
  </wsdl:message>
  <wsdl:message name="ITransferReceiveWCF_FormLoad_OutputMessage">
    <wsdl:part name="parameters" element="tns:FormLoadResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferReceiveWCF_MultiplePost_InputMessage">
    <wsdl:part name="parameters" element="tns:MultiplePost" />
  </wsdl:message>
  <wsdl:message name="ITransferReceiveWCF_MultiplePost_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplePostResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferReceiveWCF_Post_InputMessage">
    <wsdl:part name="parameters" element="tns:Post" />
  </wsdl:message>
  <wsdl:message name="ITransferReceiveWCF_Post_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferReceiveWCF_SearchTransferDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchTransferDetail" />
  </wsdl:message>
  <wsdl:message name="ITransferReceiveWCF_SearchTransferDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchTransferDetailResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferReceiveWCF_SearchTransferReceive_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchTransferReceive" />
  </wsdl:message>
  <wsdl:message name="ITransferReceiveWCF_SearchTransferReceive_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchTransferReceiveResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferReceiveWCF_SelectAll_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAll" />
  </wsdl:message>
  <wsdl:message name="ITransferReceiveWCF_SelectAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferReceiveWCF_SelectAllList_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllList" />
  </wsdl:message>
  <wsdl:message name="ITransferReceiveWCF_SelectAllList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllListResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferReceiveWCF_SelectDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectDetail" />
  </wsdl:message>
  <wsdl:message name="ITransferReceiveWCF_SelectDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectDetailResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferReceiveWCF_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="ITransferReceiveWCF_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="ITransferReceiveWCF">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferReceiveWCF/DoWork" message="tns:ITransferReceiveWCF_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferReceiveWCF/DoWorkResponse" message="tns:ITransferReceiveWCF_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferReceiveWCF/Insert" message="tns:ITransferReceiveWCF_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferReceiveWCF/InsertResponse" message="tns:ITransferReceiveWCF_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FormLoad">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferReceiveWCF/FormLoad" message="tns:ITransferReceiveWCF_FormLoad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferReceiveWCF/FormLoadResponse" message="tns:ITransferReceiveWCF_FormLoad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MultiplePost">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferReceiveWCF/MultiplePost" message="tns:ITransferReceiveWCF_MultiplePost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferReceiveWCF/MultiplePostResponse" message="tns:ITransferReceiveWCF_MultiplePost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Post">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferReceiveWCF/Post" message="tns:ITransferReceiveWCF_Post_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferReceiveWCF/PostResponse" message="tns:ITransferReceiveWCF_Post_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchTransferDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferReceiveWCF/SearchTransferDetail" message="tns:ITransferReceiveWCF_SearchTransferDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferReceiveWCF/SearchTransferDetailResponse" message="tns:ITransferReceiveWCF_SearchTransferDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchTransferReceive">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferReceiveWCF/SearchTransferReceive" message="tns:ITransferReceiveWCF_SearchTransferReceive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferReceiveWCF/SearchTransferReceiveResponse" message="tns:ITransferReceiveWCF_SearchTransferReceive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferReceiveWCF/SelectAll" message="tns:ITransferReceiveWCF_SelectAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferReceiveWCF/SelectAllResponse" message="tns:ITransferReceiveWCF_SelectAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferReceiveWCF/SelectAllList" message="tns:ITransferReceiveWCF_SelectAllList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferReceiveWCF/SelectAllListResponse" message="tns:ITransferReceiveWCF_SelectAllList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferReceiveWCF/SelectDetail" message="tns:ITransferReceiveWCF_SelectDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferReceiveWCF/SelectDetailResponse" message="tns:ITransferReceiveWCF_SelectDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferReceiveWCF/Update" message="tns:ITransferReceiveWCF_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferReceiveWCF/UpdateResponse" message="tns:ITransferReceiveWCF_Update_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITransferReceiveWCF" type="tns:ITransferReceiveWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ITransferReceiveWCF/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/ITransferReceiveWCF/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FormLoad">
      <soap:operation soapAction="http://tempuri.org/ITransferReceiveWCF/FormLoad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MultiplePost">
      <soap:operation soapAction="http://tempuri.org/ITransferReceiveWCF/MultiplePost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Post">
      <soap:operation soapAction="http://tempuri.org/ITransferReceiveWCF/Post" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTransferDetail">
      <soap:operation soapAction="http://tempuri.org/ITransferReceiveWCF/SearchTransferDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTransferReceive">
      <soap:operation soapAction="http://tempuri.org/ITransferReceiveWCF/SearchTransferReceive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <soap:operation soapAction="http://tempuri.org/ITransferReceiveWCF/SelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllList">
      <soap:operation soapAction="http://tempuri.org/ITransferReceiveWCF/SelectAllList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectDetail">
      <soap:operation soapAction="http://tempuri.org/ITransferReceiveWCF/SelectDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/ITransferReceiveWCF/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransferReceiveWCF">
    <wsdl:port name="BasicHttpBinding_ITransferReceiveWCF" binding="tns:BasicHttpBinding_ITransferReceiveWCF">
      <soap:address location="http://localhost:50568/WCF/TransferReceiveWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>