VATDesktop.Repo/Service References/CommonWCF/CommonWCF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SettingsDesktop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SettingGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SettingName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettingsDesktopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SettingsDesktopResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataAlreadyUsed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompareTable" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompareField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompareWith" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataAlreadyUsedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DataAlreadyUsedResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettingValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="settingGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="settingName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettingValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SettingValueResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Settings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SettingGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SettingName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SettingsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultipleSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SearchValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ConditionField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FixedConditions" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultipleSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MultipleSearchResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultipleSearchSQL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sqlText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SearchValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ConditionField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultipleSearchSQLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MultipleSearchSQLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NextId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NextIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NextIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BulkInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="datawcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="batchSize" type="xs:int" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BulkInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BulkInsertResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenericSelection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="databaseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cFieldswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cValswcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenericSelectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenericSelectionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenericSelectionNotSync">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="databaseName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenericSelectionNotSyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenericSelectionNotSyncResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTransanctionHistoryNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TransactionNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TransactionType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TransactionDateFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TransactionDateTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="databaseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTransanctionHistoryNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchTransanctionHistoryNewResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteQuerySelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sqlText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Dt" type="xs:boolean" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteQuerySelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteQuerySelectResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuperAdministrator">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SuperAdministratorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuperAdministratorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActiveStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuperDBInformation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SuperDBInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuperDBInformationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIsVATComplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIsVATCompleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateIsVATCompleteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BomSynchronize">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dtBOMswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtBOMRawswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtBOMOverheadwcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BomSynchronizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BomSynchronizeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransactionSync">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loadedDatabase" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransactionSyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TransactionSyncResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewDBCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyProfileswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="databaseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fiscalDetailswcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewDBCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewDBCreateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuperAdministratorUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="miki" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mouse" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuperAdministratorUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuperAdministratorUpdateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DatabaseInformationUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Tom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="jary" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mini" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DatabaseInformationUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DatabaseInformationUpdateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sqlText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteQueryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTempTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vmswcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTempTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveTempTestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHardwareID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHardwareIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHardwareIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerHardwareId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerHardwareIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServerHardwareIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServerDateTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServerDateTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServerDateTimeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestConnection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Datasource" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestConnectionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSystemData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSystemDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSystemDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettingChange">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SettingChangeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBranchInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBranchInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DataAlreadyUsedWithoutThis">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompareTable" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompareField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompareWith" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataAlreadyUsedWithoutThisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DataAlreadyUsedWithoutThisResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>