VATDesktop.Repo/Service References/SaleExportWCF/SaleExportWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SaleExportWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50568/WCF/SaleExportWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50568/WCF/SaleExportWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISaleExportWCF_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ISaleExportWCF_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ISaleExportWCF_SaleExportInsert_InputMessage">
    <wsdl:part name="parameters" element="tns:SaleExportInsert" />
  </wsdl:message>
  <wsdl:message name="ISaleExportWCF_SaleExportInsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaleExportInsertResponse" />
  </wsdl:message>
  <wsdl:message name="ISaleExportWCF_SaleExportPost_InputMessage">
    <wsdl:part name="parameters" element="tns:SaleExportPost" />
  </wsdl:message>
  <wsdl:message name="ISaleExportWCF_SaleExportPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaleExportPostResponse" />
  </wsdl:message>
  <wsdl:message name="ISaleExportWCF_SaleExportUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:SaleExportUpdate" />
  </wsdl:message>
  <wsdl:message name="ISaleExportWCF_SaleExportUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaleExportUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ISaleExportWCF_SearchSaleExportDetailDTNew_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchSaleExportDetailDTNew" />
  </wsdl:message>
  <wsdl:message name="ISaleExportWCF_SearchSaleExportDetailDTNew_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchSaleExportDetailDTNewResponse" />
  </wsdl:message>
  <wsdl:message name="ISaleExportWCF_SearchSaleExportDTNew_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchSaleExportDTNew" />
  </wsdl:message>
  <wsdl:message name="ISaleExportWCF_SearchSaleExportDTNew_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchSaleExportDTNewResponse" />
  </wsdl:message>
  <wsdl:portType name="ISaleExportWCF">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleExportWCF/DoWork" message="tns:ISaleExportWCF_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleExportWCF/DoWorkResponse" message="tns:ISaleExportWCF_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaleExportInsert">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleExportWCF/SaleExportInsert" message="tns:ISaleExportWCF_SaleExportInsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleExportWCF/SaleExportInsertResponse" message="tns:ISaleExportWCF_SaleExportInsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaleExportPost">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleExportWCF/SaleExportPost" message="tns:ISaleExportWCF_SaleExportPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleExportWCF/SaleExportPostResponse" message="tns:ISaleExportWCF_SaleExportPost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaleExportUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleExportWCF/SaleExportUpdate" message="tns:ISaleExportWCF_SaleExportUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleExportWCF/SaleExportUpdateResponse" message="tns:ISaleExportWCF_SaleExportUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchSaleExportDetailDTNew">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleExportWCF/SearchSaleExportDetailDTNew" message="tns:ISaleExportWCF_SearchSaleExportDetailDTNew_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleExportWCF/SearchSaleExportDetailDTNewResponse" message="tns:ISaleExportWCF_SearchSaleExportDetailDTNew_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchSaleExportDTNew">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleExportWCF/SearchSaleExportDTNew" message="tns:ISaleExportWCF_SearchSaleExportDTNew_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleExportWCF/SearchSaleExportDTNewResponse" message="tns:ISaleExportWCF_SearchSaleExportDTNew_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISaleExportWCF" type="tns:ISaleExportWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ISaleExportWCF/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaleExportInsert">
      <soap:operation soapAction="http://tempuri.org/ISaleExportWCF/SaleExportInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaleExportPost">
      <soap:operation soapAction="http://tempuri.org/ISaleExportWCF/SaleExportPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaleExportUpdate">
      <soap:operation soapAction="http://tempuri.org/ISaleExportWCF/SaleExportUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchSaleExportDetailDTNew">
      <soap:operation soapAction="http://tempuri.org/ISaleExportWCF/SearchSaleExportDetailDTNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchSaleExportDTNew">
      <soap:operation soapAction="http://tempuri.org/ISaleExportWCF/SearchSaleExportDTNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SaleExportWCF">
    <wsdl:port name="BasicHttpBinding_ISaleExportWCF" binding="tns:BasicHttpBinding_ISaleExportWCF">
      <soap:address location="http://localhost:50568/WCF/SaleExportWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>