VATDesktop.Repo/Service References/BranchWCF/BranchWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BranchWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50568/WCF/BranchWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50568/WCF/BranchWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBranchWCF_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IBranchWCF_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IBranchWCF_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IBranchWCF_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IBranchWCF_DropDown_InputMessage">
    <wsdl:part name="parameters" element="tns:DropDown" />
  </wsdl:message>
  <wsdl:message name="IBranchWCF_DropDown_OutputMessage">
    <wsdl:part name="parameters" element="tns:DropDownResponse" />
  </wsdl:message>
  <wsdl:message name="IBranchWCF_InsertBranchName_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertBranchName" />
  </wsdl:message>
  <wsdl:message name="IBranchWCF_InsertBranchName_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertBranchNameResponse" />
  </wsdl:message>
  <wsdl:message name="IBranchWCF_SearchBranchName_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchBranchName" />
  </wsdl:message>
  <wsdl:message name="IBranchWCF_SearchBranchName_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchBranchNameResponse" />
  </wsdl:message>
  <wsdl:message name="IBranchWCF_SearchBranchNameByParam_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchBranchNameByParam" />
  </wsdl:message>
  <wsdl:message name="IBranchWCF_SearchBranchNameByParam_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchBranchNameByParamResponse" />
  </wsdl:message>
  <wsdl:message name="IBranchWCF_UpdateBranchName_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBranchName" />
  </wsdl:message>
  <wsdl:message name="IBranchWCF_UpdateBranchName_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBranchNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IBranchWCF">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IBranchWCF/DoWork" message="tns:IBranchWCF_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBranchWCF/DoWorkResponse" message="tns:IBranchWCF_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IBranchWCF/Delete" message="tns:IBranchWCF_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBranchWCF/DeleteResponse" message="tns:IBranchWCF_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DropDown">
      <wsdl:input wsaw:Action="http://tempuri.org/IBranchWCF/DropDown" message="tns:IBranchWCF_DropDown_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBranchWCF/DropDownResponse" message="tns:IBranchWCF_DropDown_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertBranchName">
      <wsdl:input wsaw:Action="http://tempuri.org/IBranchWCF/InsertBranchName" message="tns:IBranchWCF_InsertBranchName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBranchWCF/InsertBranchNameResponse" message="tns:IBranchWCF_InsertBranchName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchBranchName">
      <wsdl:input wsaw:Action="http://tempuri.org/IBranchWCF/SearchBranchName" message="tns:IBranchWCF_SearchBranchName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBranchWCF/SearchBranchNameResponse" message="tns:IBranchWCF_SearchBranchName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchBranchNameByParam">
      <wsdl:input wsaw:Action="http://tempuri.org/IBranchWCF/SearchBranchNameByParam" message="tns:IBranchWCF_SearchBranchNameByParam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBranchWCF/SearchBranchNameByParamResponse" message="tns:IBranchWCF_SearchBranchNameByParam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBranchName">
      <wsdl:input wsaw:Action="http://tempuri.org/IBranchWCF/UpdateBranchName" message="tns:IBranchWCF_UpdateBranchName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBranchWCF/UpdateBranchNameResponse" message="tns:IBranchWCF_UpdateBranchName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBranchWCF" type="tns:IBranchWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IBranchWCF/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IBranchWCF/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DropDown">
      <soap:operation soapAction="http://tempuri.org/IBranchWCF/DropDown" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBranchName">
      <soap:operation soapAction="http://tempuri.org/IBranchWCF/InsertBranchName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchBranchName">
      <soap:operation soapAction="http://tempuri.org/IBranchWCF/SearchBranchName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchBranchNameByParam">
      <soap:operation soapAction="http://tempuri.org/IBranchWCF/SearchBranchNameByParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBranchName">
      <soap:operation soapAction="http://tempuri.org/IBranchWCF/UpdateBranchName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BranchWCF">
    <wsdl:port name="BasicHttpBinding_IBranchWCF" binding="tns:BasicHttpBinding_IBranchWCF">
      <soap:address location="http://localhost:50568/WCF/BranchWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>