VATDesktop.Repo/Service References/CodeWCF/CodeWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CodeWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50568/WCF/CodeWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50568/WCF/CodeWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICodeWCF_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ICodeWCF_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeWCF_CodeDataInsert_InputMessage">
    <wsdl:part name="parameters" element="tns:CodeDataInsert" />
  </wsdl:message>
  <wsdl:message name="ICodeWCF_CodeDataInsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:CodeDataInsertResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeWCF_CodeUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:CodeUpdate" />
  </wsdl:message>
  <wsdl:message name="ICodeWCF_CodeUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:CodeUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeWCF_SearchCodes_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchCodes" />
  </wsdl:message>
  <wsdl:message name="ICodeWCF_SearchCodes_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchCodesResponse" />
  </wsdl:message>
  <wsdl:portType name="ICodeWCF">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ICodeWCF/DoWork" message="tns:ICodeWCF_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICodeWCF/DoWorkResponse" message="tns:ICodeWCF_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CodeDataInsert">
      <wsdl:input wsaw:Action="http://tempuri.org/ICodeWCF/CodeDataInsert" message="tns:ICodeWCF_CodeDataInsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICodeWCF/CodeDataInsertResponse" message="tns:ICodeWCF_CodeDataInsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CodeUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/ICodeWCF/CodeUpdate" message="tns:ICodeWCF_CodeUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICodeWCF/CodeUpdateResponse" message="tns:ICodeWCF_CodeUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchCodes">
      <wsdl:input wsaw:Action="http://tempuri.org/ICodeWCF/SearchCodes" message="tns:ICodeWCF_SearchCodes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICodeWCF/SearchCodesResponse" message="tns:ICodeWCF_SearchCodes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICodeWCF" type="tns:ICodeWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ICodeWCF/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CodeDataInsert">
      <soap:operation soapAction="http://tempuri.org/ICodeWCF/CodeDataInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CodeUpdate">
      <soap:operation soapAction="http://tempuri.org/ICodeWCF/CodeUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCodes">
      <soap:operation soapAction="http://tempuri.org/ICodeWCF/SearchCodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CodeWCF">
    <wsdl:port name="BasicHttpBinding_ICodeWCF" binding="tns:BasicHttpBinding_ICodeWCF">
      <soap:address location="http://localhost:50568/WCF/CodeWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>