VATDesktop.Repo/Service References/FiscalYearWCF/FiscalYearWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DropDownAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DropDownAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DropDownAllResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FiscalYearInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Detailswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FiscalYearInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FiscalYearInsertResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FiscalYearUpDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Detailswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FiscalYearUpDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FiscalYearUpDateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FiscalYearUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Detailswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modifiedBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FiscalYearUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FiscalYearUpdateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadYear">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CurrentYear" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadYearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadYearResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LockChek">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LockChekResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LockChekResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MaxDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MaxDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MaxDateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchYear">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchYearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchYearResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="conditionFieldswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="conditionValueswcf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectAllResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartEndPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="year" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connVMwcf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartEndPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartEndPeriodResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>