VATDesktop.Repo/Service References/Toll6_3InvoiceWCF/Toll6_3InvoiceWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Toll6_3InvoiceWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50568/WCF/Toll6_3InvoiceWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50568/WCF/Toll6_3InvoiceWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IToll6_3InvoiceWCF_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IToll6_3InvoiceWCF_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IToll6_3InvoiceWCF_SelectAllList_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllList" />
  </wsdl:message>
  <wsdl:message name="IToll6_3InvoiceWCF_SelectAllList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllListResponse" />
  </wsdl:message>
  <wsdl:message name="IToll6_3InvoiceWCF_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IToll6_3InvoiceWCF_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IToll6_3InvoiceWCF_InsertDetailList_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertDetailList" />
  </wsdl:message>
  <wsdl:message name="IToll6_3InvoiceWCF_InsertDetailList_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertDetailListResponse" />
  </wsdl:message>
  <wsdl:message name="IToll6_3InvoiceWCF_Post_InputMessage">
    <wsdl:part name="parameters" element="tns:Post" />
  </wsdl:message>
  <wsdl:message name="IToll6_3InvoiceWCF_Post_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostResponse" />
  </wsdl:message>
  <wsdl:message name="IToll6_3InvoiceWCF_SelectAll_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAll" />
  </wsdl:message>
  <wsdl:message name="IToll6_3InvoiceWCF_SelectAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="IToll6_3InvoiceWCF_SelectDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectDetail" />
  </wsdl:message>
  <wsdl:message name="IToll6_3InvoiceWCF_SelectDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IToll6_3InvoiceWCF_TollSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:TollSearch" />
  </wsdl:message>
  <wsdl:message name="IToll6_3InvoiceWCF_TollSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:TollSearchResponse" />
  </wsdl:message>
  <wsdl:message name="IToll6_3InvoiceWCF_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IToll6_3InvoiceWCF_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IToll6_3InvoiceWCF_UpdateTollCompleted_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTollCompleted" />
  </wsdl:message>
  <wsdl:message name="IToll6_3InvoiceWCF_UpdateTollCompleted_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTollCompletedResponse" />
  </wsdl:message>
  <wsdl:portType name="IToll6_3InvoiceWCF">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IToll6_3InvoiceWCF/DoWork" message="tns:IToll6_3InvoiceWCF_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToll6_3InvoiceWCF/DoWorkResponse" message="tns:IToll6_3InvoiceWCF_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllList">
      <wsdl:input wsaw:Action="http://tempuri.org/IToll6_3InvoiceWCF/SelectAllList" message="tns:IToll6_3InvoiceWCF_SelectAllList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToll6_3InvoiceWCF/SelectAllListResponse" message="tns:IToll6_3InvoiceWCF_SelectAllList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IToll6_3InvoiceWCF/Insert" message="tns:IToll6_3InvoiceWCF_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToll6_3InvoiceWCF/InsertResponse" message="tns:IToll6_3InvoiceWCF_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertDetailList">
      <wsdl:input wsaw:Action="http://tempuri.org/IToll6_3InvoiceWCF/InsertDetailList" message="tns:IToll6_3InvoiceWCF_InsertDetailList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToll6_3InvoiceWCF/InsertDetailListResponse" message="tns:IToll6_3InvoiceWCF_InsertDetailList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Post">
      <wsdl:input wsaw:Action="http://tempuri.org/IToll6_3InvoiceWCF/Post" message="tns:IToll6_3InvoiceWCF_Post_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToll6_3InvoiceWCF/PostResponse" message="tns:IToll6_3InvoiceWCF_Post_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IToll6_3InvoiceWCF/SelectAll" message="tns:IToll6_3InvoiceWCF_SelectAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToll6_3InvoiceWCF/SelectAllResponse" message="tns:IToll6_3InvoiceWCF_SelectAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IToll6_3InvoiceWCF/SelectDetail" message="tns:IToll6_3InvoiceWCF_SelectDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToll6_3InvoiceWCF/SelectDetailResponse" message="tns:IToll6_3InvoiceWCF_SelectDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TollSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IToll6_3InvoiceWCF/TollSearch" message="tns:IToll6_3InvoiceWCF_TollSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToll6_3InvoiceWCF/TollSearchResponse" message="tns:IToll6_3InvoiceWCF_TollSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IToll6_3InvoiceWCF/Update" message="tns:IToll6_3InvoiceWCF_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToll6_3InvoiceWCF/UpdateResponse" message="tns:IToll6_3InvoiceWCF_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTollCompleted">
      <wsdl:input wsaw:Action="http://tempuri.org/IToll6_3InvoiceWCF/UpdateTollCompleted" message="tns:IToll6_3InvoiceWCF_UpdateTollCompleted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToll6_3InvoiceWCF/UpdateTollCompletedResponse" message="tns:IToll6_3InvoiceWCF_UpdateTollCompleted_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IToll6_3InvoiceWCF" type="tns:IToll6_3InvoiceWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IToll6_3InvoiceWCF/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllList">
      <soap:operation soapAction="http://tempuri.org/IToll6_3InvoiceWCF/SelectAllList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IToll6_3InvoiceWCF/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDetailList">
      <soap:operation soapAction="http://tempuri.org/IToll6_3InvoiceWCF/InsertDetailList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Post">
      <soap:operation soapAction="http://tempuri.org/IToll6_3InvoiceWCF/Post" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <soap:operation soapAction="http://tempuri.org/IToll6_3InvoiceWCF/SelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectDetail">
      <soap:operation soapAction="http://tempuri.org/IToll6_3InvoiceWCF/SelectDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TollSearch">
      <soap:operation soapAction="http://tempuri.org/IToll6_3InvoiceWCF/TollSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IToll6_3InvoiceWCF/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTollCompleted">
      <soap:operation soapAction="http://tempuri.org/IToll6_3InvoiceWCF/UpdateTollCompleted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Toll6_3InvoiceWCF">
    <wsdl:port name="BasicHttpBinding_IToll6_3InvoiceWCF" binding="tns:BasicHttpBinding_IToll6_3InvoiceWCF">
      <soap:address location="http://localhost:50568/WCF/Toll6_3InvoiceWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>